* {
    background-color: #cebdac;
    //background-color: #ec7c22
    /*background-color:src="https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%)";
*/}
.bitbBoxSong{
  width:50pc;
    box-sizing: content-box;
    padding:20px 20px 20px 20px;
    border: 5px solid red;
    border-width: medium;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
.bitbDOIT{
    width:33pc;
    box-sizing: content-box;
    padding:20px 20px 20px 20px;
    border: 5px solid red;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
}

.bitbDOIT2{
    width:33pc;
    box-sizing: content-box;
    padding:20px 20px 20px 20px;
    border: 10px solid #e8bd2d;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
}
.bitbMagic{
   width:33pc;
    box-sizing: content-box;
    padding:20px 20px 20px 20px;
    border: 5px solid red;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
}

.bitbContact {
    width:33pc;
    box-sizing: content-box;
    background-color: rgba(40, 82, 28, 0.93);
    padding:20px 20px 20px 20px;
    border: 5px solid red;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
}
div {
    width: 80pc;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
footer {
    font-size: 2rem;
    align-content: left;
}

h2 {
    font-size: 4rem;
    font-family: Umpush;
    text-align: center;
    text-shadow: 2px 2px black;
    color: red;
}
article {
    font-family: Caveat;
    text-align: center;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    color: darkolivegreen;
}
aside {
    font-size: larger;
    text-align: center;
}

body {
    font-family: "DejaVu Serif"
}

title {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-family: sans-serif;
    color: blue;
    text-shadow: 3px 3px red;
    position: relative;
}

blockquote {
    font-family: FreeSans;
    font-size: x-large;
    text-align: center;
}
    h3 {
        text-align: center;
        font-family: "Droid Sans Mono";
        font-size: 3rem;
        text-shadow: 1px 1px black;
    }

    p {
        font-family: Ramaraja;
        font-size: 26px;
        text-align: center;
    }
    pre {
        font-size: 1rem;
        font-family: Manjari;
        text-align: center;
    }
    ul {
        text-align: center;
        margin-left: auto;
    margin-right: auto;
    }

    ol {
        text-align: center;

    }

    li {
        font-size: larger;


    }
    img {

        border: 10px solid #f3f2ed;

    }
    table {
        padding: 50px;
    }

    tr {
        padding: 50px;
    }
    td {
        padding: 3px;
    }